<PluginDeployer>
  <Connections>
    <Connection>
      <Name>http://10.33.3.26/BHSAX</Name>
      <OrgId>5c13995d-6434-44ae-956a-839f75258ebf</OrgId>
      <ConnectionString>VXJsPWh0dHA6Ly8xMC4zMy4zLjI2L0JIU0FYO0RvbWFpbj1keW5hbWljcy5sb2NhbDtVc2VybmFtZT1zLnRlY2g7UGFzc3dvcmQ9J1RUQ0AxOTAnOw==</ConnectionString>
      <Version>8.0.0.1095</Version>
    </Connection>
    <Connection>
      <Name>BHSAX2</Name>
      <OrgId>5c13995d-6434-44ae-956a-839f75258ebf</OrgId>
      <ConnectionString>VXJsPWh0dHA6Ly9jcm10cmFpbm5pbmcuYmhzLnZuL2Joc2F4O0RvbWFpbj1keW5hbWljcy5sb2NhbDtVc2VybmFtZT1zLnRlY2g7UGFzc3dvcmQ9J1RUQ0AxOTAnO0F1dGhUeXBlPUlGRDtSZXF1aXJlTmV3SW5zdGFuY2U9dHJ1ZTs=</ConnectionString>
      <Version>8.0.0.1095</Version>
    </Connection>
    <Connection>
      <Name>http://crmtrainning.bhs.vn/BHSAX</Name>
      <OrgId>5c13995d-6434-44ae-956a-839f75258ebf</OrgId>
      <ConnectionString>VXJsPWh0dHA6Ly9jcm10cmFpbm5pbmcuYmhzLnZuL0JIU0FYO0RvbWFpbj1keW5hbWljcy5sb2NhbDtVc2VybmFtZT1zLnRlY2g7UGFzc3dvcmQ9J1RUQ0AxOTAnOw==</ConnectionString>
      <Version>8.0.0.1095</Version>
    </Connection>
    <Connection>
      <Name>B2BLocal</Name>
      <OrgId>ebbaf772-de94-e611-80cc-000c294c7a2d</OrgId>
      <ConnectionString>VXJsPWh0dHA6Ly8xMTYuMTE4LjEwNS45ODoyNDI1L2IyYjtEb21haW49YnNkLmxvY2FsO1VzZXJuYW1lPWNybTIxO1Bhc3N3b3JkPSdic2RAMTIzJztBdXRoVHlwZT1JRkQ7UmVxdWlyZU5ld0luc3RhbmNlPXRydWU7</ConnectionString>
      <Version>8.0.1.79</Version>
    </Connection>
    <Connection>
      <Name>DevB2BLocal</Name>
      <OrgId>e614606a-ce41-e711-9434-000c2958218c</OrgId>
      <ConnectionString>VXJsPWh0dHA6Ly8xMTYuMTE4LjEwNS45ODoyNDI1L2RldmIyYjtEb21haW49YnNkLmxvY2FsO1VzZXJuYW1lPWNybTIxO1Bhc3N3b3JkPSdic2RAMTIzJztBdXRoVHlwZT1JRkQ7UmVxdWlyZU5ld0luc3RhbmNlPXRydWU7</ConnectionString>
      <Version>8.0.1.79</Version>
    </Connection>
    <Connection>
      <Name>https://crmtrainning.ttcsugar.com.vn/BHSAX/</Name>
      <OrgId>5c13995d-6434-44ae-956a-839f75258ebf</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vY3JtdHJhaW5uaW5nLnR0Y3N1Z2FyLmNvbS52bi9CSFNBWC87VXNlcm5hbWU9cy50ZWNoO1Bhc3N3b3JkPSdUVENAMTkwJzs=</ConnectionString>
      <Version>8.0.0.1095</Version>
    </Connection>
    <Connection>
      <Name>https://crmtrainning.ttcsugar.com.vn/BHSAX</Name>
      <OrgId>5c13995d-6434-44ae-956a-839f75258ebf</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vY3JtdHJhaW5uaW5nLnR0Y3N1Z2FyLmNvbS52bi9CSFNBWDtEb21haW49ZHluYW1pY3MubG9jYWw7VXNlcm5hbWU9cy50ZWNoO1Bhc3N3b3JkPVRUQ0AxOTA7QXV0aFR5cGU9QUQ7UmVxdWlyZU5ld0luc3RhbmNlPXRydWU7</ConnectionString>
      <Version>8.0.0.1095</Version>
    </Connection>
  </Connections>
  <Assemblies>
    <Assembly>
      <OrgId>ebbaf772-de94-e611-80cc-000c294c7a2d</OrgId>
      <ProjectName>DeliveryPlugin</ProjectName>
      <AssemblyId>c3ccb531-5e07-4b57-b1b6-759e8a71f144</AssemblyId>
    </Assembly>
    <Assembly>
      <OrgId>e614606a-ce41-e711-9434-000c2958218c</OrgId>
      <ProjectName>DeliveryPlugin</ProjectName>
      <AssemblyId>0ce7898f-1453-450c-ad98-1dd3cb871e25</AssemblyId>
    </Assembly>
    <Assembly>
      <OrgId>5c13995d-6434-44ae-956a-839f75258ebf</OrgId>
      <ProjectName>DeliveryPlugin</ProjectName>
      <AssemblyId>0ce7898f-1453-450c-ad98-1dd3cb871e25</AssemblyId>
    </Assembly>
  </Assemblies>
</PluginDeployer>