<PluginDeployer>
  <Connections>
    <Connection>
      <Name>http://10.33.3.26/BHSAX</Name>
      <OrgId>5c13995d-6434-44ae-956a-839f75258ebf</OrgId>
      <ConnectionString>VXJsPWh0dHA6Ly8xMC4zMy4zLjI2L0JIU0FYO0RvbWFpbj1keW5hbWljcy5sb2NhbDtVc2VybmFtZT1zLnRlY2g7UGFzc3dvcmQ9J1RUQ0AxOTAnOw==</ConnectionString>
      <Version>8.0.0.1095</Version>
    </Connection>
  </Connections>
  <Assemblies>
    <Assembly>
      <OrgId>5c13995d-6434-44ae-956a-839f75258ebf</OrgId>
      <ProjectName>Plugin_UpdateWareHouseProduct</ProjectName>
      <AssemblyId>d3eed3af-5adc-40a9-8365-4869476482f0</AssemblyId>
    </Assembly>
  </Assemblies>
</PluginDeployer>