<PluginDeployer>
  <Connections>
    <Connection>
      <Name>https://crmtrainning.ttcsugar.com.vn/BHSAX</Name>
      <OrgId>5c13995d-6434-44ae-956a-839f75258ebf</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vY3JtdHJhaW5uaW5nLnR0Y3N1Z2FyLmNvbS52bi9CSFNBWDtEb21haW49ZHluYW1pY3MubG9jYWw7VXNlcm5hbWU9cy50ZWNoO1Bhc3N3b3JkPVRUQ0AxOTA7QXV0aFR5cGU9QUQ7UmVxdWlyZU5ld0luc3RhbmNlPXRydWU7</ConnectionString>
      <Version>8.0.0.1095</Version>
    </Connection>
  </Connections>
  <Assemblies>
    <Assembly>
      <OrgId>5c13995d-6434-44ae-956a-839f75258ebf</OrgId>
      <ProjectName>Plugin_SystemLog</ProjectName>
      <AssemblyId>a464e0b8-5338-4c0f-a741-e691e7057fee</AssemblyId>
    </Assembly>
  </Assemblies>
</PluginDeployer>