<PluginDeployer>
  <Connections>
    <Connection>
      <Name>DevB2B</Name>
      <OrgId>e614606a-ce41-e711-9434-000c2958218c</OrgId>
      <ConnectionString>VXJsPWh0dHA6Ly8xMTYuMTE4LjEwNS45ODoyNDI1L0RFVkIyQjtEb21haW49YnNkLmxvY2FsO1VzZXJuYW1lPWNybTIxO1Bhc3N3b3JkPWJzZEAxMjM7QXV0aFR5cGU9QUQ7UmVxdWlyZU5ld0luc3RhbmNlPXRydWU7</ConnectionString>
      <Version>8.0.0.1094</Version>
    </Connection>
    <Connection>
      <Name>B2B</Name>
      <OrgId>ebbaf772-de94-e611-80cc-000c294c7a2d</OrgId>
      <ConnectionString>VXJsPWh0dHA6Ly8xMTYuMTE4LjEwNS45ODoyNDI1L0IyQjtEb21haW49YnNkLmxvY2FsO1VzZXJuYW1lPWNybTIxO1Bhc3N3b3JkPWJzZEAxMjM7QXV0aFR5cGU9QUQ7UmVxdWlyZU5ld0luc3RhbmNlPXRydWU7</ConnectionString>
      <Version>8.0.0.1094</Version>
    </Connection>
    <Connection>
      <Name>BHSAX</Name>
      <OrgId>5c13995d-6434-44ae-956a-839f75258ebf</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vY3JtdHJhaW5uaW5nLnR0Y3N1Z2FyLmNvbS52bi9iaHNheDtEb21haW49ZHluYW1pY3MubG9jYWw7VXNlcm5hbWU9cy50ZWNoO1Bhc3N3b3JkPSdUVENAMTkwJztBdXRoVHlwZT1JRkQ7UmVxdWlyZU5ld0luc3RhbmNlPXRydWU7</ConnectionString>
      <Version>8.0.0.1095</Version>
    </Connection>
  </Connections>
  <Assemblies>
    <Assembly>
      <OrgId>5c13995d-6434-44ae-956a-839f75258ebf</OrgId>
      <ProjectName>Plugin_SubOrderReturn</ProjectName>
      <AssemblyId>8dce8cfc-f4e5-4f3f-bf7a-3e8792c37b60</AssemblyId>
    </Assembly>
    <Assembly>
      <OrgId>ebbaf772-de94-e611-80cc-000c294c7a2d</OrgId>
      <ProjectName>Plugin_SubOrderReturn</ProjectName>
      <AssemblyId>31bceeff-4588-4208-8389-1b9105c5d7c6</AssemblyId>
    </Assembly>
  </Assemblies>
</PluginDeployer>