<PluginDeployer>
  <Connections>
    <Connection>
      <Name>B2B</Name>
      <OrgId>ebbaf772-de94-e611-80cc-000c294c7a2d</OrgId>
      <ConnectionString>VXJsPWh0dHA6Ly8xMTYuMTE4LjEwNS45ODoyNDI1L0IyQjtEb21haW49YnNkLmxvY2FsO1VzZXJuYW1lPWNybTIxO1Bhc3N3b3JkPSdic2RAMTIzJzs=</ConnectionString>
      <Version>8.0.1.79</Version>
    </Connection>
    <Connection>
      <Name>devB2B</Name>
      <OrgId>e614606a-ce41-e711-9434-000c2958218c</OrgId>
      <ConnectionString>VXJsPWh0dHA6Ly8xMTYuMTE4LjEwNS45ODoyNDI1L2RldkIyQjtEb21haW49YnNkLmxvY2FsO1VzZXJuYW1lPWNybTIxO1Bhc3N3b3JkPSdic2RAMTIzJzs=</ConnectionString>
      <Version>8.0.1.79</Version>
    </Connection>
    <Connection>
      <Name>BHSax</Name>
      <OrgId>5c13995d-6434-44ae-956a-839f75258ebf</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vY3JtdHJhaW5uaW5nLnR0Y3N1Z2FyLmNvbS52bi9CSFNheDtEb21haW49ZHluYW1pY3MubG9jYWw7VXNlcm5hbWU9cy50ZWNoO1Bhc3N3b3JkPSdUVENAMTkwJzs=</ConnectionString>
      <Version>8.0.0.1095</Version>
    </Connection>
    <Connection>
      <Name>https://crmtrainning.ttcsugar.com.vn/BHSAX</Name>
      <OrgId>5c13995d-6434-44ae-956a-839f75258ebf</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vY3JtdHJhaW5uaW5nLnR0Y3N1Z2FyLmNvbS52bi9CSFNBWDtEb21haW49ZHluYW1pY3MubG9jYWw7VXNlcm5hbWU9cy50ZWNoO1Bhc3N3b3JkPVRUQ0AxOTA7QXV0aFR5cGU9QUQ7UmVxdWlyZU5ld0luc3RhbmNlPXRydWU7</ConnectionString>
      <Version>8.0.0.1095</Version>
    </Connection>
  </Connections>
  <Assemblies>
    <Assembly>
      <OrgId>ebbaf772-de94-e611-80cc-000c294c7a2d</OrgId>
      <ProjectName>Plugin_TransferAX</ProjectName>
      <AssemblyId>dd27ec05-b108-4566-ab51-0c1033fb4170</AssemblyId>
    </Assembly>
    <Assembly>
      <OrgId>e614606a-ce41-e711-9434-000c2958218c</OrgId>
      <ProjectName>Plugin_TransferAX</ProjectName>
      <AssemblyId>3b8aa819-db72-48c2-830c-8c1a98ad6a42</AssemblyId>
    </Assembly>
    <Assembly>
      <OrgId>5c13995d-6434-44ae-956a-839f75258ebf</OrgId>
      <ProjectName>Plugin_TransferAX</ProjectName>
      <AssemblyId>c8d1564a-77c4-4ed6-b4bd-945beb4554bc</AssemblyId>
    </Assembly>
  </Assemblies>
</PluginDeployer>