<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_BHS_BSD_CRMSERVICEAXService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://10.33.21.1:8201/DynamicsAx/Services/BHS_BSD_CRMSERVICEAXServiceGroup"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_BHS_BSD_CRMSERVICEAXService"
                contract="ServiceReferenceAIF.BHS_BSD_CRMSERVICEAXService"
                name="NetTcpBinding_BHS_BSD_CRMSERVICEAXService">
                <identity>
                    <userPrincipalName value="axservice@SUG.TTCG.LAN" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>