<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <!--<httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>-->
    <httpRuntime maxRequestLength="2000000" maxUrlLength="2000000" maxQueryStringLength="2000000" targetFramework="4.5.2"/>
  </system.web>
  <location allowOverride="true" path="DMS">
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false"/>
      <modules>
        <remove name="ApplicationInsightsWebTracking"/>
      </modules>
      <directoryBrowse enabled="true"/>
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*"/>
          <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
          <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept"/>
        </customHeaders>
      </httpProtocol>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="300000000" maxUrl="2147483647" maxQueryString="2147483647">
            <headerLimits>
              <add header="application/json" sizeLimit="2147483647"/>
            </headerLimits>
          </requestLimits>
        </requestFiltering>
      </security>
      <serverRuntime uploadReadAheadSize="2147483647" maxRequestEntityAllowed="2147483647"/>
    </system.webServer>
  </location>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed"/>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DMSEndpointBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DMSServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="DMSService.DMS" behaviorConfiguration="DMSServiceBehavior">
        <endpoint contract="DMSService.IDMS" behaviorConfiguration="DMSEndpointBehavior" binding="webHttpBinding"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="DMSService.IDMS"/>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint crossDomainScriptAccessEnabled="true" maxReceivedMessageSize="2147483647"/>
      </webScriptEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <appSettings>
    <!--<add key="protocol" value="http" />
    <add key="server" value="116.118.105.98" />
    <add key="port" value="2425" />
    <add key="org" value="B2B" />
    <add key="servicePath" value="XRMServices/2011/Organization.svc" />
    <add key="userName" value="crm21" />
    <add key="password" value="bsd@123" />-->
       <add key="protocol" value="http" />
    <add key="server" value="crmtrainning.ttcsugar.com.vn" />
    <add key="port" value="80" />
    <add key="org" value="BHSAX" />
    <add key="servicePath" value="XRMServices/2011/Organization.svc" />
    <add key="userName" value="nhatle" />
    <add key="password" value="Pass@word2" />
  </appSettings>
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <httpErrors errorMode="Detailed"/>
  </system.webServer>
</configuration>